<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SaveToXML">
		<title>Save to xml</title>
		<size>287,148</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Path:</label>
			<pos>40,40</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>88,32</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>...</label>
			<pos>200,32</pos>
			<size>48,34</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
			<label>Save</label>
			<pos>104,96</pos>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<wildcard>XML Files|*.xml</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
	</object>
</wxsmith>
