<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SaveToImg">
		<title>Save to image file</title>
		<size>294,227</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Size:</label>
			<pos>32,24</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Path:</label>
			<pos>32,72</pos>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
			<pos>80,16</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>80,64</pos>
			<size>136,34</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>...</label>
			<pos>224,64</pos>
			<size>40,34</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxChoice" name="ID_CHOICE2" variable="Choice2" member="yes">
			<pos>80,112</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Type:</label>
			<pos>32,120</pos>
		</object>
		<object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
			<label>Save</label>
			<pos>112,176</pos>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<wildcard>PNG files|*.png| TIF files|*.tif|JPEG files|*.jpeg</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
	</object>
</wxsmith>
