<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="StyleInfoLine">
		<size>270,441</size>
		<id_arg>0</id_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Name:</label>
			<pos>56,48</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Expression:</label>
			<pos>24,96</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Target:</label>
			<pos>56,144</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Color:</label>
			<pos>64,192</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Width:</label>
			<pos>60,240</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="name_text" member="yes">
			<label>Unknown</label>
			<pos>120,48</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="expression_text" member="yes">
			<label>Unknown</label>
			<pos>120,96</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="target_text" member="yes">
			<label>Unknown</label>
			<pos>120,144</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="width_text" member="yes">
			<value>Unknown</value>
			<pos>120,232</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
			<label>Editable</label>
			<pos>176,8</pos>
			<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxSpinCtrlDouble" name="ID_SPINCTRLDOUBLE1" variable="width_double" member="yes">
			<value>0</value>
			<increment>0.010000</increment>
			<pos>120,232</pos>
			<size>144,34</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Edit</label>
			<pos>24,392</pos>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="wxID_OK" variable="Button2" member="yes">
			<label>Close</label>
			<pos>144,392</pos>
		</object>
		<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL1" variable="ColourPickerCtrl1" member="yes">
			<colour>#000000</colour>
			<pos>120,184</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText6" member="yes">
			<label>Opacity:</label>
			<pos>48,288</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText7" member="yes">
			<label>Line cap:</label>
			<pos>48,336</pos>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="linecap_choice" member="yes">
			<pos>120,328</pos>
		</object>
		<object class="wxSpinCtrlDouble" name="ID_SPINCTRLDOUBLE2" variable="opacity_double" member="yes">
			<value>0</value>
			<max>1.000000</max>
			<increment>0.010000</increment>
			<pos>120,280</pos>
			<size>144,34</size>
		</object>
	</object>
</wxsmith>
